# ML analsye 

#### Naam: Matteo De Moor
#### Groep: G30
#### Analyse: 2

In [116]:
# Imports
import sys
assert sys.version_info >= (3, 7)

from packaging import version
import sklearn
assert version.parse(sklearn.__version__) >= version.parse("1.0.1")

import numpy as np
import pandas as pd

import matplotlib as mpl
import matplotlib.pyplot as plt

## Connectie DWH

In [117]:
from sqlalchemy import create_engine

# Parameters voor de databaseverbinding
server = 'localhost'
database = 'DEP_DWH_G30'

# Maak de verbinding URL
connection_url = f"mssql+pyodbc://{server}/{database}?trusted_connection=yes&driver=ODBC+Driver+17+for+SQL+Server"

# Maak de engine
engine = create_engine(connection_url)

# Voer de query uit en laad de gegevens an de DWH in een DataFrame
query = "SELECT * FROM FactKlassement"
klassement = pd.read_sql(query, engine)

## Dataset verkennen

In [118]:
# csv bestand maken
klassement.to_csv('dataset/klassement.csv', index=False)

In [119]:
# Toon de eerste 10 rijen van de dataset
klassement.head(10)

,KlassementKey,BeginDateKey,EindeDateKey,TeamKey,Stand,AantalGespeeld,AantalGewonnen,AantalGelijk,AantalVerloren,DoelpuntenVoor,DoelpuntenTegen,DoelpuntenSaldo,PuntenVoor2ptn,PuntenTegen2ptn,PuntenVoor3ptn
0,1,127,133,28,14,16,5,3,8,13,23,-10,13,19,18
1,2,127,133,50,15,16,2,5,9,15,31,-16,9,23,11
2,3,127,133,43,5,16,7,5,4,29,19,10,19,13,26
3,4,127,133,34,7,16,7,3,6,30,35,-5,17,15,24
4,5,127,133,19,8,16,7,2,7,32,24,8,16,16,23
5,6,127,133,17,10,16,7,1,8,22,31,-9,15,17,22
6,7,127,133,41,3,16,7,8,1,23,16,7,22,10,29
7,8,127,133,49,1,16,9,4,3,29,15,14,22,10,31
8,9,127,133,7,2,16,9,2,5,28,21,7,20,12,29
9,10,127,133,4,9,16,6,5,5,28,20,8,17,15,23

In [120]:
# Geef extra informatie over de dataset
klassement.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35898 entries, 0 to 35897
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   KlassementKey    35898 non-null  int64
 1   BeginDateKey     35898 non-null  int64
 2   EindeDateKey     35898 non-null  int64
 3   TeamKey          35898 non-null  int64
 4   Stand            35898 non-null  int64
 5   AantalGespeeld   35898 non-null  int64
 6   AantalGewonnen   35898 non-null  int64
 7   AantalGelijk     35898 non-null  int64
 8   AantalVerloren   35898 non-null  int64
 9   DoelpuntenVoor   35898 non-null  int64
 10  DoelpuntenTegen  35898 non-null  int64
 11  DoelpuntenSaldo  35898 non-null  int64
 12  PuntenVoor2ptn   35898 non-null  int64
 13  PuntenTegen2ptn  35898 non-null  int64
 14  PuntenVoor3ptn   35898 non-null  int64
dtypes: int64(15)
memory usage: 4.1 MB

In [121]:
# Geef statistische overzicht van de dataset
klassement.describe()

,KlassementKey,BeginDateKey,EindeDateKey,TeamKey,Stand,AantalGespeeld,AantalGewonnen,AantalGelijk,AantalVerloren,DoelpuntenVoor,DoelpuntenTegen,DoelpuntenSaldo,PuntenVoor2ptn,PuntenTegen2ptn,PuntenVoor3ptn
count,35898.000000,35898.000000,35898.000000,35898.000000,35898.000000,35898.000000,35898.000000,35898.000000,35898.000000,35898.000000,35898.000000,35898.000000,35898.000000,35898.000000,35898.000000
mean,17949.500000,11648.294362,11658.354198,29.404507,9.144966,16.827651,6.198980,4.429662,6.198980,23.715694,23.715667,0.000028,16.827623,16.827623,23.026687
std,10363.004318,6478.984475,6478.836870,17.024327,5.036634,9.506558,4.654852,3.095633,4.614328,15.877151,15.481046,14.061160,11.110932,11.109483,15.664841
min,1.000000,1.000000,7.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-73.000000,0.000000,0.000000,0.000000
25%,8975.250000,6238.000000,6240.000000,17.000000,5.000000,9.000000,3.000000,2.000000,2.000000,11.000000,11.000000,-8.000000,8.000000,8.000000,10.000000
50%,17949.500000,11572.000000,11578.000000,27.000000,9.000000,17.000000,5.000000,4.000000,5.000000,22.000000,22.000000,-1.000000,15.000000,15.000000,21.000000
75%,26923.750000,16969.000000,16975.000000,43.000000,13.000000,25.000000,9.000000,7.000000,9.000000,34.000000,34.000000,6.000000,24.000000,25.000000,33.000000
max,35898.000000,23199.000000,23205.000000,59.000000,20.000000,38.000000,26.000000,17.000000,26.000000,100.000000,95.000000,75.000000,61.000000,58.000000,86.000000

In [122]:
# Geef de vorm van de dataset
klassement.shape

(35898, 15)

## Splitsen data in training en test set

In [123]:
# Geef de kolommen van de dataset
X = klassement[['AantalGewonnen', 'AantalGelijk', 'AantalVerloren']]
y = klassement['PuntenVoor3ptn']

In [124]:
from sklearn.model_selection import train_test_split

# Split de dataset in een training set en een test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [125]:
# Toon de grootte van de training set en de test set
print(f"Training set size: {X_train.shape[0]}")
print(f"Testing set size: {X_test.shape[0]}")

Training set size: 28718
Testing set size: 7180

## Keuze regressie of classificatie

##### Regressie is de optimale keuze voor dit probleem omdat het mogelijk maakt continue waarden te voorspellen, zoals het aantal punten dat een team kan verdienen, wat direct gekoppeld is aan hun prestaties in termen van gewonnen, gelijkgespeelde en verloren wedstrijden. Bovendien, met regressieanalyse kunnen relaties en trends tussen afhankelijke en onafhankelijke variabelen effectief worden gemodelleerd, waardoor je inzicht krijgt in welke factoren het meest bijdragen aan de score van het team. 

## Keuze model

##### De RandomForestRegressor is perfect voor dit voorbeeld omdat het kan omgaan met de  relaties tussen de kenmerken (aantal gewonnen, gelijkgespeelde en verloren wedstrijden) en het aantal punten (punten). Dit model is zeker goed in het omgaan met zowel numerieke als categorische gegevens, wat het veelzijdig en geschikt maakt voor sportstatistieken die in deze dataset voorkomen.

In [126]:
from sklearn.ensemble import RandomForestRegressor

# Train het model met een Random Forest Regressor
model = RandomForestRegressor(n_estimators=200, random_state=42, max_depth=50)
model.fit(X_train, y_train)

# Voorspel de test set
y_test_pred = model.predict(X_test)

## Evaluatie model

##### Om het model te evalueren gaan we gebruik maken van MAE en RMSE

In [127]:
from sklearn.metrics import mean_squared_error, mean_absolute_error

# Model evalueren
rmse = np.sqrt(mean_squared_error(y_test, y_test_pred))
mae = mean_absolute_error(y_test, y_test_pred)

# Toon de resultaten
print("Root Mean Squared Error:", rmse)
print("Mean Absolute Error:", mae)

Root Mean Squared Error: 0.047440220409846565
Mean Absolute Error: 0.0022068245125348163

## Testen model

##### Om het model te testen gaan we 10 voorbeelden simuleren en deze testen op ons model.

In [128]:
# Maak een array van 10 arrays met elk 3 getallen
custom_inputs = [
    [1, 5, 6],
    [2, 6, 7],
    [3, 7, 8],
    [4, 8, 9],
    [5, 9, 10],
    [6, 10, 11],
    [7, 11, 12],
    [8, 12, 13],
    [9, 13, 14],
    [10, 14, 15]
]

# Voorspel met het model voor elke array in custom_inputs
predictions = model.predict(custom_inputs)

# Print de voorspelde waarden naast de verwachte waarden
for i in range(len(custom_inputs)):
    expected = custom_inputs[i][0] * 3 + custom_inputs[i][1]
    print(f"Verwachte waarde: {expected}, Voorspelde waarde: {predictions[i]}")

Verwachte waarde: 8, Voorspelde waarde: 8.0
Verwachte waarde: 12, Voorspelde waarde: 12.0
Verwachte waarde: 16, Voorspelde waarde: 16.0
Verwachte waarde: 20, Voorspelde waarde: 20.0
Verwachte waarde: 24, Voorspelde waarde: 24.0
Verwachte waarde: 28, Voorspelde waarde: 28.0
Verwachte waarde: 32, Voorspelde waarde: 32.0
Verwachte waarde: 36, Voorspelde waarde: 36.0
Verwachte waarde: 40, Voorspelde waarde: 40.0
Verwachte waarde: 44, Voorspelde waarde: 44.0

c:\Python311\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

## Conclusie model

##### We zien dat alle waarden uit onze 10 testen perfect zijn.